<!DOCTYPE html>
<html>
  <head>
    <title>Add Ride</title>
    <link rel="stylesheet" href="./resources/css/add.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="resources/js/add.js"></script>
  </head>
  <body>
    <ul>
      <li><a href="Home.html">Home</a></li>
      <li><a href="Signup.html">Signup</a></li>
      <li><a href="Login.html">Login</a></li>
      <li><a href="Profile.html">Profile</a></li>
      <li style="float: right"><a href="FAQ.html">FAQ</a></li>
      <li style="float: right"><a href="Settings.html">Settings</a></li>
      <li style="float: right"><a href="Add.html">Add Ride</a></li>
    </ul>
    <div class="col-sm">
      <h3 style="color: #002266">Add a Ride Offer</h3>
      <br />
      <form>
        <div class="leftGroup">
          <div class="form-group">
            <label for="date"><h5 style="color: #002266">Date:</h5></label>
            <input type="date" class="form-control" id="date" aria-describedby="dateHelp" placeholder="Date" />
          </div>
          <div class="form-group">
            <label for="time"><h5 style="color: #002266">Departure Time:</h5></label>
            <input type="time" class="form-control" id="iime" aria-describedby="iimeHelp" placeholder="Times" />
          </div>
          <div class="form-group">
            <label for="slotsInput"><h5 style="color: #002266">Slots Available:</h5></label>
            <input type="number" class="form-control" id="slotsInput" aria-describedby="slotsHelp" placeholder="Amount" min="1" />
          </div>
          <div class="form-group">
            <label for="pay2Input"><h5 style="color: #002266">Requested Pay (per rider):</h5></label>
            <input type="number" class="form-control" id="pay2Input" aria-describedby="pay2Help" placeholder="Amount (USD)" min="0" />
            <p>Payment will be handled in person via venmo, cash, or other preferred option.</p>
          </div>
          <div class="form-group">
            <label for="resort1"><h5>Resort Destination</h5></label>
            <select class="form-control" id="resort1">
              <option>Vail</option>
              <option>Keystone</option>
              <option>Breckenridge</option>
              <option>Eldora</option>
              <option>Beaver Creek</option>
              <option>Steamboat</option>
              <option>Arapahoe Basin</option>
              <option>Winter Park</option>
              <option>Copper</option>
            </select>
          </div>
          <div class="form-group">
            <label for="resort1"><h5>Starting City</h5></label>
            <select class="form-control" id="start1">
              <option>Colorado Springs</option>
              <option>Denver</option>
              <option>Boulder</option>
              <option>Fort Collins</option>
            </select>
          </div>
        </div>
        <div class="rightGroup">
          <label for="DriverRideDescription"
            ><h4 style="color: #002266">Contact Info and Details</h4>
            <p>
              Give your email or phone number, preferred meeting address, neighborhood or city, as well as any other details you want to share with potential
              riders!
            </p>
          </label>
          <textarea class="form-control" id="driverRideDescription" rows="10"></textarea>
        </div>
        <button type="button" class="btn btn-info" onclick="submitRide();">Submit Ride Offer</button>
        <br /><br />
      </form>
    </div>
  </body>
</html>
