<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
            <span>
                <div class="caption">
                    <span class="border">FAQ</span>
                </div>
                <ul>
                    <li><a href= "Home.html">Home</a></li>
                    <li><a href="Signup.html">Signup</a></li>
                    <li><a href="Login.html">Login</a></li>
                    <li><a href="Profile.html">Profile</a></li>
                    <li style="float:right;"><a href="FAQ.html" class="active">FAQ</a></li>
                    <li style="float:right;"><a href="Settings.html">Settings</a></li>
                    <li style="float: right;"><a href="Add.html">Add Ride</a> </li>
                </ul>
            </span>
        </div>
    </body>
</html>