<!DOCTYPE html>
<html>
    <head>
        <title>Add Ride</title>
        <link rel="stylesheet" href="./resources/css/add.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div>
            <div class="bg"></div>
            <div class="caption">
                <span class="border">Add Ride</span>
            </div>
            <ul>
                <li><a href= "Home.html">Home</a></li>
                <li><a href="Signup.html">Signup</a></li>
                <li><a href="Login.html">Login</a></li>
                <li><a href="Profile.html">Profile</a></li>
                <li style="float:right;"><a href="FAQ.html" class="active">FAQ</a></li>
                <li style="float:right;"><a href="Settings.html">Settings</a></li>
                <li style="float: right;"><a href="Add.html">Add Ride</a> </li>
            </ul>
            <h3 style="color:#002266;">Add a Ride Offer</h3>
                <br/>
                <form>
                    <div class="form-group">
                    <label for="dateTime"><h5 style="color:#002266;">Date and Departure Time:</h5></label>
                    <input type="text" class="form-control" id="dateTime" aria-describedby="dateTimeHelp" placeholder="Date, times">
                    <p>
                        Example: 12/25/2019 6:30 <br/>
                        Times are only approximations.
                    </p>
                    </div>
                    <div class="form-group">
                    <label for="pay2Input"><h5 style="color:#002266;">Requested Pay (per rider):</h5></label>
                    <input type="number" class="form-control" id="pay2Input" aria-describedby="pay2Help" placeholder="Amount (USD)">
                    <p>
                        Payment will be handled in person via venmo, cash or
                        other preferred option.
                    </p>
                    </div>
                    <div class="form-group">
                    <label for="slotsInput"><h5 style="color:#002266;">Slots Available:</h5></label>
                    <input type="number" class="form-control" id="slotsInput" aria-describedby="slotsHelp" placeholder="Amount">
                    </div>
                    <div class="form-group">
                    <label for="resort1"><h5>Resort Destination</h5></label>
                    <select class="form-control" id="resort1">
                        <option>Vail</option>
                        <option>Keystone</option>
                        <option>Breckenridge</option>
                        <option>Eldora</option>
                        <option>Beaver Creek</option>
                        <option>Steamboat</option>
                        <option>Arapahoe Basin</option>
                        <option>Winter Park</option>
                        <option>Copper</option>
                    </select>
                    </div>
                    <div class="form-group">
                    <label for="resort1"><h5>Starting City</h5></label>
                    <select class="form-control" id="start1">
                        <option>Colorado Springs</option>
                        <option>Denver</option>
                        <option>Boulder</option>
                        <option>Fort Collins</option>
                    </select>
                    </div>
                    <div class="form-group">
                    <label for="DriverRideDescription"><h4 style="color:#002266;">Contact Info and Details</h4>
                        <p>
                        Give your email or phone number, preferred meeting address, neighborhood or city, as well as any other
                        details you want to share with potential riders! This could include schedule/location flexibility,
                        vehicle type, preferred payment method, music tastes, etc.
                        </p>
                    </label>
                    <textarea class="form-control" id="driverRideDescription" rows="20"></textarea>
                    </div>
                <button type="button" class="btn btn-info" onclick="submitRide();">Submit Ride Offer</button>
                <br/><br/>
                </form> 
        </div>
        <script>
                function submitRide(){
                  var date = $("#dateTime").val();
                  var pay = $("#pay2Input").val();
                  var slots = $("#slotsInput").val();
                  var resort = $("#resort1").val();
                  var description = $("#driverRideDescription").val();
                  var start = $("#start1").val();
                  $.ajax({
                      method: 'POST',
                      url: "/setting",
                      data: {
                        "user_id": sessionStorage.getItem('user_id'),
                        "date": date,
                        "pay": pay,
                        "slots": slots,
                        "resort": resort,
                        "description": description,
                        "start": start
                      },
                      dataType: "text"
                  })
                  .then(data => {
                    console.log("html " + sessionStorage.getItem('user_id'))
                  })
                }
        </script>
    </body>
</html>