<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script src="resources/js/home.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <link href="resources/css/weather_scroll.css" rel="stylesheet" />
    <link href="resources/css/add.css" rel="stylesheet" />
  </head>
  <body>
    <div class="bg"></div>
    <div class="caption">
      <span class="border">SKI LIFT</span>
    </div>

    <ul>
      <li><a href="Home.html" class="active">Home</a></li>
      <li><a href="Signup.html">Signup</a></li>
      <li><a href="Login.html">Login</a></li>
      <li><a href="Profile.html">Profile</a></li>
      <li style="float: right"><a href="FAQ.html">FAQ</a></li>
      <li style="float: right"><a href="Settings.html">Settings</a></li>
      <li style="float: right"><a href="Add.html">Add Ride</a></li>
    </ul>
    <div class="description">
      Ski Lift is the #1 ridesharing app for Colorado skiiers and boarders.<br />
      Search now to find rides to your favorite local slopes.
    </div>
    <div id = "searchContainer">
      <div class="heading" id = >Search For Rides</div>
      <form action="/search_rides" method="get">
        <div class="input-group mb-3">
          <select class="custom-select" id="inputResortDest" name="inputResortDest">
            <option selected>Select a Ski Resort Destination</option>
            <option value="Winter Park">Winter Park</option>
            <option value="Breckenridge">Breckenridge</option>
            <option value="Steamboat Springs">Steamboat Springs</option>
            <option value="Eldora">Eldora</option>
            <option value="Copper">Copper</option>
            <option value="Vail">Vail</option>
            <option value="Beaver Creek">Beaver Creek</option>
            <option value="Keystone">Keystone</option>
            <option value="Arapahoe Basin">Arapahoe Basin</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <select class="custom-select" id="inputStartCity" name="inputStartCity">
            <option selected>Select Starting City</option>
            <option value="Colorado Springs">Colorado Springs</option>
            <option value="Denver">Denver</option>
            <option value="Boulder">Boulder</option>
            <option value="Fort Collins">Fort Collins</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Ride Date</span>
          </div>
          <input
            name="dateInput"
            type="date"
            class="form-control"
            placeholder="MM/DD/YYYY"
            aria-label="Username"
            aria-describedby="basic-addon1"
            id="dateInput"
          />
        </div>

        <button type="submit" class="btn btn-secondary" onclick="">Search</button>
      </form>
    </div>
    <table style="width: 100%; margin: 5px" id="rideTable"></table>

    <div>
      <div class="heading">Weather Forecast</div>
      <div class="input-group mb-3" class="asuh">
        <select class="custom-select" id="inputWeatherResort" onchange="getWeather()">
          <option selected>Select a Ski Resort To Recieve Weather Report</option>
          <option value="Winter Park">Winter Park</option>
          <option value="Breckenridge">Breckenridge</option>
          <option value="Steamboat Springs">Steamboat Springs</option>
          <option value="Eldora">Eldora</option>
          <option value="Copper">Copper</option>
          <option value="Vail">Vail</option>
          <option value="Beaver Creek">Beaver Creek</option>
          <option value="Keystone">Keystone</option>
          <option value="Arapahoe Basin">Arapahoe Basin</option>
        </select>
      </div>
    </div>

    <div class="scroll-left">
      <p id="weather">Please Select A Mountain For Conditions</p>
    </div>
  </body>
</html>
