html {
    height: 100%;
    margin: 0;
    background-image: url("../img/adventure-alpine-alps-414459.jpg");
    height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
}
.caption {
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    color: #000;
    margin-top: 80px;
    margin-bottom: 140px;
    z-index: 2;
}
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    font-style: normal;
    letter-spacing: 10px;
    z-index: 3;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }