
/* This css was created by Bootstrap for their login page example */
html, body{
    height:100%; /* important to vertically align the container */
    padding:0;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  text-align: center;
  align-items: center;
  padding-bottom: 120px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
}

label {
  margin-top: 10px;
}

#error {
  color: red;
}

#in {
  margin-top: 10px;
  background-color: #152257 !important;
}