/* This css was created by Bootstrap for their login page example */
html,
body {
  height: 100%; /* important to vertically align the container */
  margin: 0;
  padding: 0;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  text-align: center;
  align-items: center;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signup {
  width: 100%;
  max-width: 80%;
  padding: 15px;
  margin: auto;
}

.form-signup .col-2 {
  width: 300px;
  margin: auto;
}

.form-signup .checkbox {
  font-weight: 400;
}

.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signup .form-control:focus {
  z-index: 2;
}

.form-signup input[type="email"] {
  margin-bottom: 10px;
}

.form-signup input[type="password"] {
  margin-bottom: 10px;
}

#driver_info {
  visibility: hidden;
  height: 0px;
}

#dLabel {
  margin-right: 20px;
}

#drLabel {
  margin-right: 190px;
}

h1 {
  margin-bottom: 40px;
}

#signupbtn {
  background-color: #152257 !important;
}
