.scroll-left {
 height: 50px;	
 overflow: hidden;
 position: fixed;
 background: white;
 color: #152257;
 border: 3px solid #152257;
 bottom: 0;
 width: 100%;
 background-color: #152257
}
.scroll-left p {
 color: white;
 position: absolute;
 font-weight: bolder;
 width: 100%;
 height: 100%;
 font-size: 20px;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 17s linear infinite;
 -webkit-animation: scroll-left 17s linear infinite;
 animation: scroll-left 17s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}
